body {
    background-color:#EFF0F1;
    font-family: "Georgia"
}

.images {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.comment-list {
    margin: auto;
    padding: 10px;
    list-style: none;

}

img, h2, form, .comment-list {
    display: flex;
    margin: 0 auto;
    width: 30em;
}
h2 {
    padding-left: 9em;
}

h1 { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
    margin-right: 10px;
}