body {
    background-color:#EFF0F1;
    font-family: "Georgia"
}

.image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

img {
    display: block;
    width: 30em;
}

h2 {
    display: inline-block;
}

h1 { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.comment-list {
    padding: 10px;
}

button {
    margin-right: 10px;
}